---
import { getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import { GridList, HorizontalList, VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import AccentColors from '@/styles/colors/accent/indigo.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';
import Achievement from '@/web/components/achievement.astro';
import { Basics } from '@/web/components/basics';
import Education from '@/web/components/education.astro';
import Favorite from '@/web/components/favorite.astro';
import Interest from '@/web/components/interest.astro';
import Job from '@/web/components/job.astro';
import Layout from '@/web/components/layout.astro';
import { Metadata } from '@/web/components/metadata';
import Project from '@/web/components/project.astro';
import Reference from '@/web/components/reference.astro';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/web/components/section';
import { Sidebar, SidebarItem } from '@/web/components/sidebar';
import { Skill } from '@/web/components/skills';
import { initializeWebContext } from '@/web/utils/initialize-web-context';

await initializeWebContext(Astro, {
  locale: enUS,
  translations: getEntry('translations', 'en'),
  dateFormat: 'MMMM yyyy',
  theme: 'custom',
  pdf: {
    path: `${import.meta.env.BASE_URL}javier-resume.pdf`,
    label: 'Download resume',
    filename: 'javier-resume.pdf',
  },
});
---

<Layout class="gap-16 [&_section]:scroll-mt-8">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
    <Metadata entry={getEntry('metadata', 'main')} />
  </Fragment>
  <Sidebar>
    <SidebarItem sectionId="basics" icon="fa6-solid:user">About me</SidebarItem>
    <SidebarItem sectionId="skills" icon="fa6-solid:bars-progress">Skills</SidebarItem>
    <SidebarItem sectionId="jobs" icon="fa6-solid:suitcase">Work experience</SidebarItem>
    <SidebarItem sectionId="projects" icon="fa6-solid:rocket">Projects</SidebarItem>
    <SidebarItem sectionId="references" icon="fa6-solid:comment">References</SidebarItem>
    <SidebarItem sectionId="achievements" icon="fa6-solid:trophy">Achievements</SidebarItem>
    <SidebarItem sectionId="education" icon="fa6-solid:graduation-cap">Education</SidebarItem>
    <!-- <SidebarItem sectionId="favorites" icon="fa6-solid:star">Favorites</SidebarItem> -->
  </Sidebar>
  <Basics entry={getEntry('basics', 'main')} id="basics" />
  <Section class="gap-8" id="skills">
    <SectionTitle>Skills</SectionTitle>
    <VerticalList class="gap-8">
      <Subsection class="gap-2">
        <SubsectionTitle>Technologies</SubsectionTitle>
        <GridList class="gap-8" minColWidth="200px">
          <Skill withLevel entry={getEntry('skills', 'javascript')} />
          <Skill withLevel entry={getEntry('skills', 'jquery')} />
          <Skill withLevel entry={getEntry('skills', 'html')} />
          <Skill withLevel entry={getEntry('skills', 'python')} />
          <Skill withLevel entry={getEntry('skills', 'css')} />
          <Skill withLevel entry={getEntry('skills', 'sass')} />
          <Skill withLevel entry={getEntry('skills', 'bootstrap')} />
          <Skill withLevel entry={getEntry('skills', 'node-js')} />
          <Skill withLevel entry={getEntry('skills', 'php')} />
          <Skill withLevel entry={getEntry('skills', 'mysql')} />
          <Skill withLevel entry={getEntry('skills', 'rest-api')} />
          <Skill withLevel entry={getEntry('skills', 'json')} />
          <Skill withLevel entry={getEntry('skills', 'wordpress')} />
          <Skill withLevel entry={getEntry('skills', 'woocommerce')} />
          <Skill withLevel entry={getEntry('skills', 'shopify')} />
          <Skill withLevel entry={getEntry('skills', 'debugging')} />
          <Skill withLevel entry={getEntry('skills', 'c-plus-plus')} />          
        </GridList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Tools</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'power-automate')} />
          <Skill entry={getEntry('skills', 'zapier')} />
          <Skill entry={getEntry('skills', 'make')} />
          <Skill entry={getEntry('skills', 'git')} />
          <Skill entry={getEntry('skills', 'github')} />
          <Skill entry={getEntry('skills', 'postman-api')} />
          <Skill entry={getEntry('skills', 'microsoft-dynamics-crm')} />
          <Skill entry={getEntry('skills', 'hubspot-crm')} />
          <Skill entry={getEntry('skills', 'google-analytics')} />
          <Skill entry={getEntry('skills', 'google-tag-manager')} />
          <Skill entry={getEntry('skills', 'ab-testing')} />
          <Skill entry={getEntry('skills', 'browserstack')} />
          <Skill entry={getEntry('skills', 'agile-methodologies')} />
          <Skill entry={getEntry('skills', 'continuous-improvement')} />          
          <Skill entry={getEntry('skills', 'project-management')} />
          <Skill entry={getEntry('skills', 'stripe')} />
          <Skill entry={getEntry('skills', 'livestorm')} />
          <Skill entry={getEntry('skills', 'salesloft')} />
          <Skill entry={getEntry('skills', 'android-studio')} />
          <Skill entry={getEntry('skills', 'vs-code')} />
          <Skill entry={getEntry('skills', 'arduino')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Languages</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'english')} />
          <Skill entry={getEntry('skills', 'spanish')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-8" id="jobs">
    <SectionTitle>Work</SectionTitle>
    <VerticalList class="gap-10">
      <Job entry={getEntry('jobs', 'niq')} />
      <Separator />
      <Job entry={getEntry('jobs', 'alzerina')} />
      <Separator />
      <Job entry={getEntry('jobs', 'laguardiacc')} />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="projects">
    <SectionTitle>Projects</SectionTitle>
    <VerticalList class="gap-10">
      <Project entry={getEntry('projects', 'leadsync')} />
      <Separator />
      <!-- <Project entry={getEntry('projects', 'user-board')} /> -->
    </VerticalList>
  </Section>
  <Section class="gap-8" id="references">
    <SectionTitle>References</SectionTitle>
    <VerticalList class="gap-10">
      <Reference entry={getEntry('references', 'al-lemieux')} />
      <Separator />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="achievements">
    <SectionTitle>Achievements</SectionTitle>
    <VerticalList class="gap-8">
      <Achievement entry={getEntry('achievements', 'javascript-algorithms-and-data-structures')} />
      <Separator />
      <Achievement entry={getEntry('achievements', 'responsive-web-design')} />
      <!-- <Separator />
      <Achievement entry={getEntry('achievements', 'reactathon-hackathon')} />
      <Separator />
      <Achievement entry={getEntry('achievements', 'redux-toolkit-contributor')} /> -->
    </VerticalList>
  </Section>
  <Section class="gap-8" id="education">
    <SectionTitle>Education</SectionTitle>
    <VerticalList class="gap-10">
      <Education entry={getEntry('education', 'bachelor')} />
      <Separator />
      <Education entry={getEntry('education', 'associate')} />
    </VerticalList>
  </Section>
  <!-- 
  <Section class="gap-8" id="favorites">
    <SectionTitle>Favorites</SectionTitle>
    <VerticalList class="gap-10">
      <Subsection class="gap-2">
        <SubsectionTitle>Books I read</SubsectionTitle>
        <GridList class="gap-4 lg:grid-cols-2">
          <Favorite image="poster" entry={getEntry('favorites', 'books/domain-driven-design')} />
          <Favorite image="poster" entry={getEntry('favorites', 'books/grokkking-simplicity')} />
          <Favorite image="poster" entry={getEntry('favorites', 'books/learning-javascript-design-patterns')} />
          <Favorite image="poster" entry={getEntry('favorites', 'books/the-pragmatic-programmer')} />
        </GridList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Articles I come back to</SubsectionTitle>
        <GridList class="gap-4 lg:grid-cols-2">
          <Favorite
            withSource
            image="favicon"
            entry={getEntry('favorites', 'articles/client-side-architecture-basics')}
          />
          <Favorite
            withSource
            image="favicon"
            entry={getEntry('favorites', 'articles/future-facing-frontend-architectures')}
          />
          <Favorite withSource image="favicon" entry={getEntry('favorites', 'articles/practical-react-query')} />
          <Favorite withSource image="favicon" entry={getEntry('favorites', 'articles/the-least-worst-architecture')} />
        </GridList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Videos I watched</SubsectionTitle>
        <GridList class="gap-4 lg:grid-cols-2">
          <Favorite image="video" entry={getEntry('favorites', 'videos/principled-coders')} />
          <Favorite image="video" entry={getEntry('favorites', 'videos/scaling-yourself')} />
          <Favorite image="video" entry={getEntry('favorites', 'videos/mind-the-gap')} />
          <Favorite image="video" entry={getEntry('favorites', 'videos/monads')} />
        </GridList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>People I learn from</SubsectionTitle>
        <GridList class="gap-4 md:grid-cols-2">
          <Favorite image="person" entry={getEntry('favorites', 'people/addy-osmani')} />
          <Favorite image="person" entry={getEntry('favorites', 'people/anthony-fu')} />
          <Favorite image="person" entry={getEntry('favorites', 'people/dan-abramov')} />
          <Favorite image="person" entry={getEntry('favorites', 'people/josh-w-comeau')} />
          <Favorite image="person" entry={getEntry('favorites', 'people/kent-c-dodds')} />
          <Favorite image="person" entry={getEntry('favorites', 'people/lee-robinson')} />
        </GridList>
      </Subsection>
    </VerticalList>
  </Section>
  -->
  <Section class="gap-8">
    <SectionTitle>Interests</SectionTitle>
    <HorizontalList class="gap-x-4 gap-y-3">
      <Interest entry={getEntry('interests', 'working-out')} />
      <Interest entry={getEntry('interests', 'video-games')} />
      <Interest entry={getEntry('interests', 'soccer')} />
    </HorizontalList>
  </Section>
</Layout>
